.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Manteremos apenas os arquivos de exemplo, excluindo o restante
examples/**

# Não excluir arquivos essenciais para a extensão
!language-configuration.json
!php-validation.js
!out/**
